@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html {
    font-size: 10px;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    height: 400vh;
}

header {
    /* background-color: grey; */
    height: 100vh;
    /* background-image: url('../assets/img/bg_header.jpg'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    
    background: url('../assets/img/bg_header.jpg') center/cover fixed;

}

header h1 {
    font-size: 6rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: lightcoral; */
}