@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html {
    font-size: 10px;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    height: 400vh;
}

header {
    /* background-color: grey; */
    height: 80vh;
    position: relative;
    /* background-image: url('../assets/img/bg_header.jpg'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    color: #fff;
    background: url('../assets/img/bg_header.jpg') center/cover fixed;

}

header::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

header h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    text-align: center;
    line-height: 150%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-shadow: 0px 0px 15px #000; */
    /* background-color: rgba(0, 0, 0, .4); */
    /* border-radius: .5rem; */
}

@media screen and (min-width: 700px) {
    
    header h1 {
        font-size: 6rem;
    }

} 

@media screen and (min-width: 1024px) {
    
    header h1 {
        font-size: 8rem;
    }

} 