@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    height: 400vh;
}

header {
    /* background-color: grey; */
    height: 80vh;
    /* background-image: url('../assets/img/bg_header.jpg'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    
    background: url('../assets/img/bg_header.jpg') center/cover fixed;

}